#bioPage {
  justify-content: space-around;
}
.aboutImg {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin: 10px;
}
.bioContainer {
  background-color: rgba($color: #d3d3d3, $alpha: 0.7);
  margin: 10px;
  padding: 30px;
  border-radius: 5px;
  width: 25%;
  p {
    font-size: large;
  }
}