.head {
  background-color: black;
  height: 15vw;
  text-align: center;
  h1{
      padding-top: 1em;
      letter-spacing: 0.15em;
      color: white;
      font-size: 3vw;
  }
  .header-info{
      color: white;
      font-style: italic;
      font-size: 20px;
      letter-spacing: 0.25em;
  }
}