#projectsPage {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.projects-page-container {
  padding: 10px 15px;
}
.projects-header {
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  color: #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
}
.proj-row {
  margin: 15px;
  color: #d3d3d3;
  a {
    color: #d3d3d3;
  }
}